  body, html {
    margin:0;
    padding:0;
    font-family:arial;
    overflow: hidden;
  }

  ul {
    list-style: none;
  }

  .pagewidthbg {
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .menu {
    position: relative;
    z-index: 3;
    float: left;
  }

  .menu ul li {
    padding: 10px 0;
  }

  .menu ul li a{
    color: #EF4925;
    text-decoration: none;
    font-size: 40px;
    /*font-family: 'Limelight', cursive;*/
    font-family: 'Emblema One', cursive;
    /*font-family: 'Syncopate', sans-serif;*/
    font-weight: 900;


  }

  .menu ul li a:hover {
    color: white;
  }
  .headertop {
    height: 100px;
    width: 960px;
    overflow: hidden;
    margin-left: auto;
    margin-right: -20px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 3;
  }

  .meet-me, .sustainability, .contact-me, .clients, .home {
    font-family: 'Righteous', cursive;
    display: none;
    background: #8b897d;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 475px;
    margin-left: 225px;
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    max-height: 625px;
    min-height: 450px;
    padding: 5px 20px;
    overflow-y: scroll;
    color: white;

  }

  .contact-me {
    overflow: hidden;
  }

  .clients {
    overflow: hidden;
  }
  .home {
    display: block;
    font-weight: normal;
    min-height: 350px;
  }

  .testimonial {
    padding: 10px 0;
    background: #8b897d;
    padding: 10px;
    opacity: 0.8;
    height: 400px;
  }

  .testimonial .quote-left, .testimonial .quote-right {
    color: #fcdd41;
    font-size: 40px;
  }

  .testimonial .quote-right {
    float: right;
    margin-right: 310px;
    margin-top: -10px;
  }

  .testimonial .quote-by {
    float: left;
    position: relative;
    bottom: 10px;
    left: 300px;
  }

  .home ul li {
    text-align: center;
    padding: 5px 0px;
    font-size: 25px;
    margin-left: 0px;
  }

  .clients {
    background: none;
    opacity: 1;
    width: 700px;
  }

  .clients ul li {
    padding: 10px 0;
  }

  .change, .dbc, .locbox, .pantheon {
    padding-left: 70px;
  }

  .pagewidth {
    width: 960px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    z-index: 3;
    position: relative;
  }

  img#bg {
    /* Stretch background */
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:0;
  }

  #bg_grid {
    position:fixed; /* This is very important! */
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url(grid.png) repeat;

    /* Display on top of background */
    z-index:1;
  }

  #image_description {
    position:fixed; /* This is very important! */
    right:-150px;
    bottom:60px;
    width:140px;
    height:10px;
    background-color:#dddddd;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index:2;
    padding:5px;
    font-size:10px;
    line-height:12px;
    color:#333333;
  }
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Headland One', serif;
font-family: 'Inder', sans-serif;
font-family: 'Mate', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Antic', sans-serif;
font-family: 'Monofett', cursive;
font-family: 'Changa One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Chango', cursive;
font-family: 'Righteous', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Shanti', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Averia Libre', cursive;
font-family: 'Lemon', cursive;
font-family: 'Karla', sans-serif;
*/
