  body, html {
    margin:0;
    padding:0;
    font-family:arial;
  }

  ul {
    list-style: none;
  }

  .pagewidthbg {
    width: 100%;
    margin-bottom: 40px;
  }

  .menu {
    position: relative;
    z-index: 3;
    float: left;
  }

  .menu ul li {
    padding: 15px 0;
  }

  .menu ul li a{
    color: #F28A21;
    font-weight: bold;
    text-decoration: none;
  }

  .headertop {
    height: 100px;
    width: 960px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 3;
  }

  .meet-me, .sustainability, .contact-me, .clients, .main {
    display: none;
    background: white;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 930px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    min-height: 400px;
  }

  .main {
    display: block;
    background: none;
    color: #98BF21;
  }

  .pagewidth {
    width: 960px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/
    padding-bottom: 10px;
    z-index: 3;
    position: relative;
  }

  img#bg {
    /* Stretch background */
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:0;
  }

  #bg_grid {
    position:fixed; /* This is very important! */
    top:0;
    left:0;
    height:100%;
    width:100%;
      background: url(grid.png) repeat;

    /* Display on top of background */
    z-index:1;
  }

  #image_description {
    position:fixed; /* This is very important! */
    right:-150px;
    bottom:60px;
    width:140px;
    height:38px;
    background-color:#dddddd;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index:2;
    padding:5px;
    font-size:10px;
    line-height:12px;
    color:#333333;
  }

